<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
      <Listrak_TransactionalEmail>
         <version>1.0.0</version>
      </Listrak_TransactionalEmail>
   </modules>
   <global> 
      <blocks>
         <transactionalemail>
            <class>Listrak_TransactionalEmail_Block</class>
         </transactionalemail>
      </blocks>
      <models>
         <transactionalemail>
            <class>Listrak_TransactionalEmail_Model</class>
            <resourceModel>listrak_transactionalemail_resource</resourceModel>
         </transactionalemail>
         <listrak_transactionalemail_resource>
            <class>Listrak_TransactionalEmail_Model_Resource</class>
            <entities> 
               <transactionalmessages>
                  <table>listrak_email_transactional_messages</table>
               </transactionalmessages>
               <attributetransaction>
                  <table>listrak_email_attribute_transactional_message</table>
               </attributetransaction>
               <attributes>
                  <table>listrak_email_attribute_fields</table>
               </attributes>
               <queue>
                  <table>listrak_email_queue</table>
               </queue>
            </entities>
         </listrak_transactionalemail_resource>
         <core>
            <rewrite> 
                <email_template_mailer>Listrak_TransactionalEmail_Model_Email_Template_Mailer</email_template_mailer>
            </rewrite>
         </core> 
         <stmonkeysports>
            <rewrite> 
                <cron_process_notifications>Listrak_TransactionalEmail_Model_Cron_Process_Notifications</cron_process_notifications>
                <cron_process_expirations>Listrak_TransactionalEmail_Model_Cron_Process_Expirations</cron_process_expirations>
            </rewrite>
         </stmonkeysports> 
      </models>
      <resources>
         <listrak_transactionalemail_setup>
            <setup>
               <module>Listrak_TransactionalEmail</module>
               <class>Mage_Core_Model_Resource_Setup</class>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </listrak_transactionalemail_setup>
      </resources>
   </global>
   <adminhtml>
      <menu>
         <remarketing>
            <children>
               <transactionalemail>
                  <title>Transactional Emails</title>
                  <sort_order>120</sort_order>
                  <children> 
                     <manage_transactionemails>
                        <title>Configure Messages</title>
                        <action>adminhtml/adminhtml_transactionalmessages</action>
                        <sort_order>2</sort_order>
                     </manage_transactionemails>
                     <manage_emailqueue>
                        <title>Manage Email Queue</title>
                        <action>adminhtml/adminhtml_transactionalqueue</action>
                        <sort_order>3</sort_order>
                     </manage_emailqueue> 
                  </children>
               </transactionalemail>
            </children>
         </remarketing>
      </menu>
      <layout>
         <updates>
            <transactionalemail>
               <file>listraktransactionalemail.xml</file>
            </transactionalemail>
         </updates>
      </layout>
   </adminhtml>
   <admin>
     <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Listrak_TransactionalEmail after="Mage_Adminhtml">Listrak_TransactionalEmail</Listrak_TransactionalEmail>
                    </modules>
                </args>
            </adminhtml>
        </routers>
   </admin>
   <crontab>
      <jobs>
         <listrak_transactional_process_failed_emails>
            <schedule>
               <cron_expr>*/5 * * * *</cron_expr>
            </schedule>
            <run>
               <model>transactionalemail/observer::processQueue</model>
            </run>
         </listrak_transactional_process_failed_emails>
          <listrak_transactionalemail_delete_success_emails>
            <schedule>
               <cron_expr>0 0 * * *</cron_expr>
            </schedule>
            <run>
               <model>transactionalemail/observer::processQueueErase</model>
            </run>
         </listrak_transactionalemail_delete_success_emails>
      </jobs>
   </crontab>
</config>